.payment {
  max-width: 70rem;
  margin: 0 auto;
  padding: 3rem 2rem;

  &__summary {
    border: 1px solid #222;
    border-radius: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2rem;
    margin-bottom: 3rem;
  }

  &__summaryDetails {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }

  &__imageWrapper {
    margin-left: auto;
    border-radius: 1rem;
    overflow: hidden;
    flex-shrink: 0;
  }

  &__summaryImage {
    display: block;
    object-fit: cover;
  }

  &__container {
    border: 1px solid #222;
    border-radius: 1.5rem;
    padding: 2rem;
  }

  h1 {
    margin-bottom: 4rem;
  }

  legend {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 1.5rem;
  }

  &__methods {
    border: none;
    padding: 0;
  }

  &__option {
    border: 1px solid #222;
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 1rem;

    display: flex;
    gap: 1rem;
    align-items: center;
    cursor: pointer;
  }

  &__error {
    margin-top: 1rem;
    color: #c51f1f;
    font-weight: 600;
  }

  &__button {
    margin-top: 2rem;
    padding: 0.8rem 1.2rem;

    background: #9f1717;
    border-radius: 0.5rem;
    border: none;
    color: white;

    font-size: 0.9rem;
    font-weight: 700;
    cursor: pointer;

    transition: background 0.2s ease-in-out;

    &:hover {
      background: #c51f1f;
    }
  }
}